* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    background-color: #000000;
    color:  #ffffff;
}

h2 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 span {
    color: #ed431a;
}

.nav {
    height: 50px;
}

.nav ul {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 100px;
}


section {
    background-image: url(Karachi\ Corner.avif);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    color:  #ffffff;
    width: 20%;
}

.image h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.image h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.image button {
    background-color: #ed431a;
    color:  #ffffff;
    margin-left: 100px;
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 50px;
}

.main {
    background-color: #000000;
    color:  #ffffff;
    height: 80vh;
}

.ourspecial{
    text-align: center;
    padding-top: 70px;
}

.ourspecial h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ourspecial h1{
    color: #ed431a;
}

.card {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.ourspecial2 {
    background-color:#592e23;
    padding-top: 70px;
}

.ourspecial2 h3 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ourspecial2 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ed431a;
}

.ourspecial2 button {
    background-color: #ed431a;
    color:  #ffffff;
    margin-top: 80px;
    padding: 15px 10px; 
    border-radius: 50px;
}

.aboutus{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
}

.child1 img{
    height: 50vh;
    padding-left: 5px;
    padding-top: 5px;
}

.two{
    background-color: #592e23;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

h4{
    color: #ed431a;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.child2 ,button{
    background-color: #ed431a;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 10px;
}

footer{
    background-color: #592e23;
    color: #ffffff;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 500px;
    
}



.contact h3{
    color: #ed431a;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ourshop h3{
     color: #ed431a;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
